{% load static %}
<!-- Equipo -->
<section class="page-section bg-light" id="team">
      <div class="container">
        <div class="text-center">
          <h2 class="section-heading text-uppercase">Equipo</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{% static 'assets/img/team/empty.png' %}" alt="..." />
              <h4>Parveen Anand</h4>
              <p class="text-muted">Lead Designer</p>
              <a class="btn btn-dark btn-social mx-2" href="#" aria-label="Parveen Anand Twitter Profile">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="btn btn-dark btn-social mx-2" href="#" aria-label="Parveen Anand Facebook Profile">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a class="btn btn-dark btn-social mx-2" href="#" aria-label="Parveen Anand LinkedIn Profile">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{% static 'assets/img/team/empty.png' %}" alt="..." />
              <h4>Diana Petersen</h4>
              <p class="text-muted">Lead Marketer</p>
              <a class="btn btn-dark btn-social mx-2" href="#" aria-label="Diana Petersen Twitter Profile">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="btn btn-dark btn-social mx-2" href="#" aria-label="Diana Petersen Facebook Profile">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a class="btn btn-dark btn-social mx-2" href="#" aria-label="Diana Petersen LinkedIn Profile">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{% static 'assets/img/team/empty.png' %}" alt="..." />
              <h4>Larry Parker</h4>
              <p class="text-muted">Lead Developer</p>
              <a class="btn btn-dark btn-social mx-2" href="#" aria-label="Larry Parker Twitter Profile">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="btn btn-dark btn-social mx-2" href="#" aria-label="Larry Parker Facebook Profile">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a class="btn btn-dark btn-social mx-2" href="#" aria-label="Larry Parker LinkedIn Profile">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{% static 'assets/img/team/empty.png' %}" alt="..." />
              <h4>Alex Johnson</h4>
              <p class="text-muted">Project Manager</p>
              <a class="btn btn-dark btn-social mx-2" href="#" aria-label="Alex Johnson Twitter Profile">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="btn btn-dark btn-social mx-2" href="#" aria-label="Alex Johnson Facebook Profile">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a class="btn btn-dark btn-social mx-2" href="#" aria-label="Alex Johnson LinkedIn Profile">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{% static 'assets/img/team/empty.png' %}" alt="..." />
              <h4>Maria Rodriguez</h4>
              <p class="text-muted">Operations Specialist</p>
              <a class="btn btn-dark btn-social mx-2" href="#" aria-label="Maria Rodriguez Twitter Profile">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="btn btn-dark btn-social mx-2" href="#" aria-label="Maria Rodriguez Facebook Profile">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a class="btn btn-dark btn-social mx-2" href="#" aria-label="Maria Rodriguez LinkedIn Profile">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
